<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState timeout="20" mode="StateServer" stateConnectionString="tcpip=localhost:42424">
    </sessionState>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>